.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.8);
    min-width: 300px;
    max-width: calc(100dvw - 100px);
    width: max-content;
    min-height: 150px;
    overflow-x: hidden;
}

.modal-title {
    background-color: #6dd5ed;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
